.bio-section {
  display: flex;
  padding: 25px;
}

.bio-image {
  padding: 25px;
}

.bio-description {
  padding: 25px;
  color: rgba(19, 77, 2, 1);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* letter-spacing: 1px; */
}

@media (max-width: 768px) {
  .bio-section {
    display: flex;
    flex-direction: column;
  }
  .bio-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
