.nav-link {
  text-decoration: none;
  color: goldenrod;
  font-size: 35px;
}

.nav-link:hover {
  transform: scale(1.15);
  transition: all 0.5s ease;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .nav-link {
    text-decoration: none;
    color: goldenrod;
    font-size: 15px;
  }
}
