.navBar {
  background-color: rgba(19, 77, 2, 1);
}

.nav-link {
  text-decoration: none;
  color: darkgreen;
  font-size: 35px;
}

.a-link {
  color: whitesmoke;
}

.nav-link:hover {
  transform: scale(1.15);
  transition: all 0.5s ease;
  color: goldenrod;
}

@media (max-width: 768px) {
  .nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
  }
}
