:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 29, 51, 0.85);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

body {
  line-height: 1.4;
  background: whitesmoke;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background: whitesmoke;
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: "";
  background: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.showcase h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  font-weight: 900;
  color: whitesmoke;
  background-color: rgba(19, 77, 2, 1);
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  padding: 0.75rem;
  border-radius: 2.5px;
  text-shadow: 2px 2px 8px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
}

.knowledge {
  margin-top: -2.5rem;
  background-color: rgba(19, 77, 2, 1);
}

.showcase h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
  font-weight: 900;
  color: rgba(19, 77, 2, 1);
  text-shadow: 2px 2px 8px darkgray;
}

.showcase h5 {
  color: whitesmoke;
  font-size: 3rem;
  text-shadow: 1px 1px 20px black;
}

.fulltstack {
  color: whitesmoke;
}

.btn {
  display: inline-block;
  border: none;
  background-color: rgba(19, 77, 2, 1);
  color: whitesmoke;
  padding: 0.25rem 0.8rem;
  margin-top: 1rem;
  margin: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
  border-radius: 2px;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  opacity: 0.7;
}

.fab {
  padding: 0.25rem;
}

.logo-contain {
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 15rem;
  background-color: rgba(19, 77, 2, 1);
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  margin-top: 20px;
  border-radius: 5px;
}

.logo-img {
  height: 3rem;
  width: auto;
  background-color: transparent;
  padding: 0.5em;
}

.logobtns {
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: flex-end;
}

@-webkit-keyframes arrow {
  0%,
  100% {
    right: 50px;
  }
  50% {
    right: 80px;
  }
}

@keyframes arrow {
  0%,
  100% {
    right: 50px;
  }
  50% {
    right: 80px;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.arrow {
  border: 4px solid darkgreen;
  margin-top: 1.5rem;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(90deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -webkit-animation: 8s opacity ease;
  animation: 8s opacity ease;
}

.arrow .arrow-mask {
  position: relative;
  top: -33px;
  left: -33px;
  border: 21px solid transparent;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -webkit-animation: 8s opacity ease;
  animation: 8s opacity ease;
}

.arrow .arrow-mask:before {
  content: "";
  position: relative;
  float: left;
  top: 16px;
  left: 28px;
  width: 4px;
  height: 16px;
  background-color: darkgreen;
  transform: rotate(90deg);
  -webkit-transform: rotate(135deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -webkit-animation: 8s opacity ease;
  animation: 8s opacity ease;
}

.arrow .arrow-mask:after {
  content: "";
  position: relative;
  float: left;
  top: 9px;
  left: 28px;
  width: 4px;
  height: 16px;
  background-color: darkgreen;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.arrow:hover {
  cursor: pointer;
  border-color: transparent;
  border-width: 0;
}
.arrow:hover .arrow-mask {
  left: -15px;
  top: -29px;
}
.arrow:hover .arrow-mask:before {
  background-color: goldenrod;
}
.arrow:hover .arrow-mask:after {
  background-color: goldenrod;
}
